.btn-marker {
    width: 22px;
    height: 35px;
    border: none;
}
.btn-marker:focus {
    outline: transparent;
}

.navi-control {
    position: absolute;
    right:0;
}

.site-drawer-render-in-current-wrapper {
    height: 200px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ebedf0;
    border-radius: 2px;
    padding: 48px;
    text-align: center;
    background: #fafafa;
}
[data-theme="dark"] .site-drawer-render-in-current-wrapper {
    background: #000;
    border: 1px solid #303030;
}

.bbbsss{
    position:absolute;
    z-index: 3;
    width:40px;
}